body {
    background: rgb(119, 119, 152);
}

section {
    background: white;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0,0, 0,0.363);
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font: normal 25pt Arial;
}

#msg {
    text-align: center;
    font: normal 12pt Arial;
}

#calc {
    text-align: center;
    margin: 0 auto;
}